#dcsm {
	height: 100vh;
}

#dcsm-body {
	padding-top: 50px;
}

#dcsm-list {
    direction: rtl;
	height: calc(100vh - 50px);
	padding: 0;
	border-right: 1px solid #ddd;
	overflow-x: hidden;
	overflow-y: auto;
}
#dcsm-list > * { direction: ltr }

#dcsm-left {
	height: calc(100vh - 50px);
	overflow-x: hidden;
	overflow-y: auto;
}
/*
    I would be better do this with script
                                       navbar padding footer */
#dcsm-article {
    position: relative;
    min-height: calc(100vh - 50px - 30px - 142px);
}
#dcsm-article-mask {
    position: absolute;
    padding: 10%;
    top: -20px; right: -15px; bottom: -15px; left: -15px;
    background-color: #fafafa;
    background-image: url('chrome-extension://__MSG_@@extension_id__/img/bg.png');
    z-index: 9999;    
}
#dcsm-article-mask .jumbotron { background-color: rgba(200,200,200,0.333); }

#dcsm-article-content{ min-height: 10vh; }

#dcsm-comment-list table > thead > tr > th {
    padding: 0;
}

#dcsm-comment-list table > tbody > tr > td {
	vertical-align: middle;
}

#dcsm-comment-list table > tbody > tr > td {
    word-break: break-all;
}

#dcsm-comment-list table > tbody > tr > td:last-child {
	font-size: 80%;
	text-align: right;
}

#dcsm-comment-write > div > div {
	padding-left: 0;
	padding-right: 5px;
}

#dcsm-comment-write > div > div > div:first-child {
	padding-bottom: 5px;
}

#dcsm-comment-write > div > div:first-child {
	padding-left: 15px;
}

#dcsm-comment-write > div > div:last-child {
	padding-right: 15px;
}

#dcsm-comment-write textarea {
	resize: none;
}

#dcsm-comment-list *[data-dcsm="ip"] {
    color: #bbb;
    float: right;
}

#dcsm-footer {
    bottom: 0;
    font-size: 0.9em;
    background-color: #eee;
    padding: 40px 15px;
    margin: 15px -15px 0 -15px;
}

.list-group > .list-group-item {
	border-right: 0;
	border-left: 0;
}

.list-group > .list-group-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.list-group > .list-group-item:last-child {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.list-group > .list-group-item > .list-group-item-heading {
	overflow: hidden;
	white-space: nowrap;
}

.list-group > .list-group-item > .list-group-item-text small > * { margin-right: 5px; }
.list-group > .list-group-item > .list-group-item-text span:empty { display: none; }

.list-group > .list-group-item *[data-dcsm="author"] {
    padding: 2px;
    background-color: #eee;
}
.list-group > .list-group-item *[data-dcsm="artcon"] { margin-right: 5px; }
.list-group > .list-group-item *[data-dcsm="num"] { color: #9d9d9d; }
.list-group > .list-group-item *[data-dcsm="gallcon"] { margin-left: -5px; }
.list-group > .list-group-item *[data-dcsm="viewed"] { float: right }
.list-group > .list-group-item *[data-dcsm="rcmmd"] { float: right }
.list-group > .list-group-item *[data-dcsm="cnt_comment"] { float: right }
.list-group > .list-group-item *[data-dcsm="date"] {
    display: none;
    float: right
}

.list-group > .list-group-item *[data-dcsm="viewed"]:after, 
.list-group > .list-group-item *[data-dcsm="rcmmd"]:after, 
.list-group > .list-group-item *[data-dcsm="cnt_comment"]:after {
    font-family: 'Glyphicons Halflings';
    font-size: 0.5em;
    position: 'relative';
    top: 2px;
    padding-left: 2px;
    color: #bbb;
}
.list-group > .list-group-item *[data-dcsm="viewed"]:after      {content: "\e067"}
.list-group > .list-group-item *[data-dcsm="rcmmd"]:after       {content: "\e125"}
.list-group > .list-group-item *[data-dcsm="cnt_comment"]:after {content: "\e111"}

.navbar { border: 0 !important; } /* wtf */
.navbar-inverse .navbar-abtn:hover {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}
.navbar-inverse .navbar-abtn {
    color: #9d9d9d;
}
.navbar-abtn {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-header .glyphicon {
    top: 0;
}

.navbar-left { float: left; }
.navbar-right { float: right; }

/* scroll */
::-webkit-scrollbar { width: 3px; }
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #bbb; 
}