#dcsm {
	height: 100vh;
}

#dcsm-body {
	padding-top: 50px;
}

#dcsm-list {
	height: calc(100vh - 50px);
	padding: 0;
	border-right: 1px solid #ddd;
	overflow-x: hidden;
	overflow-y: auto;
}

#dcsm-article{
	height: calc(100vh - 50px);
	overflow-x: hidden;
	overflow-y: auto;
}

#dcsm-article-content{
	height: 10vh;
}

#dcsm-comment-list table > thead > tr > th {
    padding: 0;
}

#dcsm-comment-list table > tbody > tr > td {
	vertical-align: middle;
}

#dcsm-comment-list table > tbody > tr > td:first-child {

}

#dcsm-comment-list table > tbody > tr > td:last-child {
	font-size: 80%;
	text-align: right;
}

#dcsm-comment-write > div > div {
	padding-left: 0;
	padding-right: 5px;
}

#dcsm-comment-write > div > div > div:first-child {
	padding-bottom: 5px;
}

#dcsm-comment-write > div > div:first-child {
	padding-left: 15px;
}

#dcsm-comment-write > div > div:last-child {
	padding-right: 15px;
}

#dcsm-comment-write textarea {
	resize: none;
}


.list-group > .list-group-item {
	border-right: 0;
	border-left: 0;
}

.list-group > .list-group-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.list-group > .list-group-item:last-child {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.list-group > .list-group-item > .list-group-item-heading {
	overflow: hidden;
	white-space: nowrap;
}